<th:block th:fragment="header">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/tailwind.min.js"></script>
    <script src="/htmx.min.js"></script>
    <script src="/sockjs.min.js"></script>
    <script src="/stomp.min.js"></script>
</th:block>